@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 230 86% 97%;
    --foreground: 234 16% 35%;
    --card: 230 86% 97%;
    --card-foreground: 234 16% 35%;
    --popover: 230 86% 97%;
    --popover-foreground: 234 16% 35%;
    --primary: 220 91% 58%;
    --primary-foreground: 230 86% 97%;
    --secondary: 227 68% 88%;
    --secondary-foreground: 234 16% 35%;
    --muted: 227 68% 88%;
    --muted-foreground: 234 16% 35%;
    --accent: 227 68% 88%;
    --accent-foreground: 234 16% 35%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 230 86% 97%;
    --border: 227 68% 88%;
    --input: 227 68% 88%;
    --ring: 220 91% 58%;
    --chart-1: 316 72% 86%;
    --chart-2: 189 71% 73%;
    --chart-3: 254 84% 91%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 230 86% 97%;
    --sidebar-foreground: 234 16% 35%;
    --sidebar-primary: 220 91% 58%;
    --sidebar-primary-foreground: 230 86% 97%;
    --sidebar-accent: 227 68% 88%;
    --sidebar-accent-foreground: 234 16% 35%;
    --sidebar-border: 227 68% 88%;
    --sidebar-ring: 220 91% 58%;
  }
  .dark {
    --background: 240 21% 15%;
    --foreground: 227 70% 87%;
    --card: 240 21% 15%;
    --card-foreground: 227 70% 87%;
    --popover: 240 21% 15%;
    --popover-foreground: 227 70% 87%;
    --primary: 316 72% 86%;
    --primary-foreground: 240 21% 15%;
    --secondary: 240 24% 24%;
    --secondary-foreground: 227 70% 87%;
    --muted: 240 24% 24%;
    --muted-foreground: 227 70% 87%;
    --accent: 240 24% 24%;
    --accent-foreground: 227 70% 87%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 227 70% 87%;
    --border: 240 24% 24%;
    --input: 240 24% 24%;
    --ring: 316 72% 86%;
    --chart-1: 316 72% 86%;
    --chart-2: 189 71% 73%;
    --chart-3: 254 84% 91%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 21% 15%;
    --sidebar-foreground: 227 70% 87%;
    --sidebar-primary: 316 72% 86%;
    --sidebar-primary-foreground: 240 21% 15%;
    --sidebar-accent: 240 24% 24%;
    --sidebar-accent-foreground: 227 70% 87%;
    --sidebar-border: 240 24% 24%;
    --sidebar-ring: 316 72% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
